@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap-reboot"; //для всіх елементів, так як використовує за основу файл НОРМАЛІЗАЦІЇ
@import "../../node_modules/bootstrap/scss/utilities"; // для mr-auto
@import "../../node_modules/bootstrap/scss/dropdown"; // для спадного списку
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
//@import "../../node_modules/bootstrap/scss/transitions";
//@import "../../node_modules/bootstrap/scss/dropdown";
//@import "../../node_modules/bootstrap/scss/forms";
//@import "../../node_modules/bootstrap/scss/card";
//
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "customs/my";




